@import "../../index";

.bar-chart-container {
    min-height: 100%;
    
    .customTooltip {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-color-darker;
        color: white;
        padding: 1px 7px;
        height: 63px;
      
        .tooltipDetails {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
        }
      
        .label {
          font-size: 12px;
          font-weight: 500;
        }
    }

    .customLegend {
        display: flex;
        justify-content: end;
        gap: 30px;
        padding-bottom: 40px;

        .icon-and-text {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon {
                width: 8px;
                height: 8px;
                border-radius: 50px;
            }

            .text {
                font-size: 14px;
                font-weight: 500;
                color: $quaternary-color;
            }
        }
    }

    // The title on the left
    .title-text {
        font-size: 15px;
        font-weight: 500;
        fill: #20253A;
    }

    // The yAxis CSS
    .yAxis {
        .recharts-cartesian-axis-line {
            display: none;
        }

        .recharts-cartesian-axis-tick-line {
            display: none;
        }

        .recharts-cartesian-axis-tick-value {
            font-size: 14px;
            fill: #9B9EAC;
        }
    }

    // The xAxis CSS
    .xAxis {
        .recharts-cartesian-axis-line {
            stroke: #DEDEDE;
        }
        .recharts-cartesian-axis-tick-line {
            display: none;
        }
        .recharts-cartesian-axis-tick-value {
            font-size: 14px;
            fill: #9B9EAC;
        }
    }
    
    // The grey vertical dashed lines
    .recharts-cartesian-grid-vertical {
        display: none;
    }
}