@import "../../index";

.line-chart-container {
    background-color: $primary-color;
    //padding: 0 15px 5px 15px;
    border-radius: 5px;
    
    .customTooltip {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        color: #000000;
        padding: 0 7px;
        min-height: 25px;
      
        .tooltipDetails {
          display: flex;
        }
      
        .label {
          font-size: 12px;
          font-weight: 500;
        }
    }

    .text {
        @include medium-screen {
            font-size: 13px;
        }
    }
    
    // Chart x and y lines CSS
    .recharts-cartesian-axis-tick-value {
        fill: rgba(255,255,255,0.5);
    }

    .recharts-cartesian-axis-line {
        display: none;
        
    }
    
    .recharts-cartesian-axis-tick-line {
        display: none;
    }
    
    .recharts-yAxis {
        .recharts-cartesian-axis-tick-value {
            display: none;
        }
    }
    
    // Dots
    .recharts-line-dot {
        display: none;
    }
}
