@import "../../index";

.radar-chart-container {
    width: 100%;
    height: 100%;
    background-color: $secondary-color;

    .recharts-text {
        fill: white;
        font-size: 0.75rem;
    }

    .recharts-polar-grid-concentric-polygon {
        stroke: white;
    }

    .recharts-default-legend {
        display: none;
    }

    .recharts-polar-radius-axis-tick-value {
        display: none;
    }

    .recharts-polar-grid-angle {
        display: none;
    }

    .recharts-layer {
        .recharts-polar-radius-axis {
            .radiusAxis {
                display: none;
            }
        }
    }

    .radiusAxis {
        display: none;
    }
}